/**********************
BUTTONS
***********************/

.btn-default {
	padding: 9px 0;
	width: 150px;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	border-radius: 20px;
	box-sizing: border-box;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
}

.btn-default.white-yellow {
	color: #ffe600;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}

.btn-default.white-yellow:hover,
.btn-default.white-yellow.active.focus,
.btn-default.white-yellow.active:focus,
.btn-default.white-yellow.active:hover,
.btn-default.white-yellow:active.focus,
.btn-default.white-yellow:active:focus,
.btn-default.white-yellow:active:hover {
	color: #ffffff;
	background: #ffe600;
	border: 1px solid #ffffff;
	box-shadow: none;
	outline: none;
}

.btn-default.yellow-white {
	color: #ffffff;
	background-color: #ffe600;
	border: 1px solid #ffe600;
}

.btn-default.yellow-white:hover,
.btn-default.yellow-white.active.focus,
.btn-default.yellow-white.active:focus,
.btn-default.yellow-white.active:hover,
.btn-default.yellow-white:active.focus,
.btn-default.yellow-white:active:focus,
.btn-default.yellow-white:active:hover {
	color: #ffe600;
	background: #ffffff;
	border: 1px solid #ffe600;
	box-shadow: none;
	outline: none;
}
/* 내가 넣은 메인 */

   

/**********************
PORTFOLIO SECTION
***********************/

#portfolio {
	padding: 92px 0 0;
}

#portfolio-navigation {
	margin-top: 91px;
	text-align: center;
	margin-bottom: 0;
}

#portfolio-navigation .navbar-nav {
	display: inline-block;
	float: none;
}

#portfolio-navigation .navbar-nav>li>.filter {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 5px;
	color: #637988;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
	box-sizing: border-box;
	transition: all 0.3s;
	outline: none;
	box-shadow: none;
}

#portfolio-navigation .navbar-nav>li>.filter:hover,
#portfolio-navigation .navbar-nav>li>.filter:focus {
	color: #ffe600;
}

#portfolio-navigation .navbar-nav>li>.filter.mixitup-control-active,
#portfolio-navigation .navbar-nav>li>.filter.mixitup-control-active:hover,
#portfolio-navigation .navbar-nav>li>.filter.mixitup-control-active:focus {
	color: #ffffff;
	background: #ffe600;
	border: 1px solid #ffe600;
	box-shadow: none;
}

.portfolio-grid {
	margin-top: 25px;
	font-size: 0.1px;
	text-align: justify;
}

.portfolio-grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

.portfolio-grid .grid-item,
.portfolio-grid .gap {
	position: relative;
	display: inline-block;
	margin-top: 29px;
	width: calc(100%/3 - (((3 - 1) * 29px) / 3));
}

.portfolio-grid .grid-item img {
	width: 100%;
}

#portfolio .btn {
	display: block;
	margin: 52px auto 0;
}


#portfolio .video-section .btn {
	display: inline-block;
	margin: 22px 0 0;
}

#portfolio .business-section .btn {
	display: inline-block;
	margin: 36px 0 0;
}

.business-section .img-container {
	margin-top: 51px;
	margin-bottom: -47px;
}



/**********************
FOOTER SECTION
***********************/

footer {
	padding: 83px 0 90px;
}




/**********************
RESPONSIVE
***********************/

@media only screen and (max-width: 1199px) {

	/**********************
	PORTFOLIO SECTION
	***********************/
	.portfolio-grid .grid-item,
	.portfolio-grid .gap {
		width: calc(100%/2 - (((2 - 1) * 29px) / 2));
	}

}

@media only screen and (max-width: 991px) {

	/**********************
	PORTFOLIO SECTION
	***********************/
	.video-section h4 {
		margin-top: 45px;
	}

	#portfolio .video-section .btn {
		display: block;
		margin: 30px auto 0;
	}



}

@media only screen and (max-width: 767px) {
	
	/**********************
	PORTFOLIO SECTION
	***********************/

	.portfolio-grid .grid-item,
	.portfolio-grid .gap {
		width: calc(100% - (30px * 2));
		margin-left: 30px;
		margin-right: 30px;
	}

	.business-section .img-container {
		margin: 50px 0 30px;
	}


}